:root{
    --background1: linear-gradient(to right bottom,rgb(53, 92, 125), rgb(108, 91, 123), rgb(192, 108, 132));
    --background2: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #fefe;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    margin-top: 5em;
    padding: 0 7%;
}